<%= link_to "Log out", destroy_user_session_path, method: :delete %>
<h3 class="text-center"> <%= @house.name  %> </h3>



<div class="graph-container">
  <% @house.memberships.each do |membership| %>              <!-- Create Symbols -->
    <div class="graph-element">
        <% @shares_all.each do |share| %>
          <% if %>
            <% share.bill.house == @house %>
            <% if membership.user == share.user %>
              <% symbol_file = @symbol_map[share.bill.category.to_sym] %>
            <% end %>
            <% unless symbol_file.nil?%>
              <div><%= image_tag symbol_file, alt: "blue-logo", style: "width: 30px"%></div>
            <% end %>
          <% end %>
        <% end %>
        <!-- Create Name Below the Symbols -->
        <div class="graph-element-name"><%= membership.user.name.split(' ')[0] %></div>
    </div>
  <% end %>
</div>

<%= link_to house_shares_path do %>
  <div class="even-up-button">Even up &nbsp; →</div>
<% end %>


  <% @shares.each do |share| %>
    <% if share.bill.house == @house %>
      <% due_date = (share.bill.due_date - Date.today).to_i %>
        <div class='notification-card'>
          <p class="text-muted mb-0"> <%= due_date %> days</p>
          <%= link_to share.bill.name,  edit_house_bill_path(share.bill.house_id, share.bill_id) %>
          <% if share.bill.category != ""%>
            <%= image_tag @symbol_map[share.bill.category.to_sym], alt: "blue-logo", style: "width: 50px" %>
          <% end %>
          $<%= share.amount %>
        </div>
    <% end %>
  <% end %>


<div class="my-5 py-5"></div>

