<%= link_to "Log out", destroy_user_session_path, method: :delete %>
<h3 class="text-center"> <%= @house.name  %> </h3>


<div class="container my-5 py-5 border ">
  <p></p>
  <div class="row">
    <%  %>
    <% @house.memberships.each do |membership| %>
      <div class="col text-center">
        <div> 🔸 </div>
        <div> 🔻 </div>
        <div> <%= membership.user.name %> </div>
      </div>
    <% end %>
  </div>
</div>


<%= link_to "Even up ->", house_shares_path%>
<div class="mx-2">
  <% @shares.each do |share| %>
  <% due_date = share.bill.due_date.strftime("%b %d") %>
    <div class="border p-2 mb-2">
      <p class="text-muted mb-0"> <%= due_date %> </p>
      <div class="row">
        <ul class="list-unstyled mb-0 col-6">
          <%= link_to share.bill.name,  edit_house_bill_path(share.bill.house_id, share.bill_id) %>
        </ul>
        <ul class="list-unstyled mb-0 col-2">
          🔻
        </ul>
        <ul class="list-unstyled mb-0 col-4 text-right pr-5">
          $<%= share.amount %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<div class="my-5 py-5"></div>

