<!-- <%= link_to "Log out", destroy_user_session_path, method: :delete %> -->
<h3 class="house-name"> <%= @house.name  %> </h3>



<div class="graph-container">
  <% @house.memberships.each do |membership| %>              <!-- Create Symbols -->
    <div class="graph-element">
        <% @shares_all.each do |share| %>
          <% if %>
            <% share.bill.house == @house %>
            <% if membership.user == share.user %>
                <% if @icon_names.include?(share.bill.category)%>
                  <div> <%= image_tag @symbols_map[share.bill.category.to_sym], alt: "blue-logo", style: "width: 35px"%></div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <!-- Create Name Below the Symbols -->
        <div class="graph-element-name"><%= membership.user.name.split(' ')[0] %></div>
    </div>
  <% end %>
</div>

<%= link_to house_shares_path do %>
  <div class="even-up-button">Even up &nbsp; →</div>
<% end %>


<% @shares.each do |share| %>
  <% if share.bill.house == @house %>
    <% due_date = (share.bill.due_date - Date.today).to_i %>
      <div class='notification-card'>
        <p class="text-muted mb-0"> <%= due_date %> days</p>
        <div class="notification-row">
            <h4><%= link_to share.bill.name,  edit_house_bill_path(share.bill.house_id, share.bill_id) %></h4>
            <% if @icon_names.include?(share.bill.category)%>
              <%= image_tag @icons_map[share.bill.category.to_sym], alt: "blue-logo", style: "width: 24px; margin-bottom: 0.8rem;" %>
            <% end %>
          <p class="share-amount"><%= share.amount %>€</p>
        </div>
      </div>
  <% end %>
<% end %>


<div class="my-5 py-5"></div>

