<%= link_to history_house_shares_path(@house), class: 'history-icon' do %>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12h2c0 4.418 3.582 8 8 8s8-3.582 8-8-3.582-8-8-8C9.25 4 6.824 5.387 5.385 7.5H8v2H2v-6h2V6c1.824-2.43 4.729-4 8-4zm1 5v4.585l3.243 3.243-1.415 1.415L11 12.413V7h2z" fill="rgba(255,243,236,1)"/></svg>
<% end %>

 <h3 class="house-name" id="dashboard"> <%= @house.name %></h3>


<div class="dashboard">
  <div class="graph-container">
    <% @house.memberships.each do |membership| %>              <!-- Create Symbols -->
      <div class="graph-element">
        <div class="tube">
          <% @shares_all.each do |share| %>
            <% if share.paid != true %>
              <% if share.bill.house == @house %>
                <% share.bill.house == @house %>
                <% if membership.user == share.user %>
                    <% if @icon_names.include?(share.bill.category)%>
                      <div class="mt-1"> <%= image_tag @symbols_map[share.bill.category.to_sym], alt: "blue-logo", style: "width: 35px"%></div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
          <!-- Create Name Below the Symbols -->
          <div class="graph-element-name"><%= membership.user.first_name %></div>
      </div>
    <% end %>
  </div>
</div>

<!-- Show the 🐌 of the month -->
<div class="text-center">
  <div>
    <!-- User with the fewest shares paid last month - 💵: -->
    <% paid = []%>
    <% @shares_paid_last_month.each do |share| %>
      <% if share.bill.house == @house %>
        <% paid << share.user.id %>
      <% end   %>
    <% end %>
    <% paid_fewest = paid.reduce(Hash.new(0)) { |b, a| b.merge({a => b[a] + 1}) }.min_by{|k,v| v} %>
    <% paid_winner = []  %>
      <% if paid.nil? %>
        <% @users.each do |user| %>
          <% paid_winner << user.name if user.id == paid_fewest[0] %>
        <% end %>
        <% paid_winner.first.split(' ').first  %>
      <% end %>
  </div>

  <div>

    <!-- User with the most shares unpaid last month - 💰: -->
    <% unpaid = []%>
    <% @shares_unpaid_last_month.each do |share| %>
      <% if share.bill.house == @house %>
        <% unpaid << share.user.id %>
      <% end   %>
    <% end %>
    <% unpaid_most = paid.reduce(Hash.new(0)) { |b, a| b.merge({a => b[a] + 1}) }.max_by{|k,v| v} %>
    <% unpaid_winner = []  %>
    <% if unpaid.nil? %>
      <% @users.each do |user| %>
        <% unpaid_winner << user.name if user.id == unpaid_most[0] %>
      <% end %>
      <% unpaid_winner.first.split(' ').first  %>
    <% end %>
  </div>

  <div class="pt-3">
    <!-- So who is the 🐌 of the month? -->
    <% if paid_winner.first != unpaid_winner.first%>



      <% @users.each do |user| %>
       <% user.shares if paid.include?(user.id) %>
      <% end %>
      <% shares = [] %>
      <% @shares_paid_last_month.each do |share| %>
        <% if share.bill.house == @house %>
          <% shares << {share.user.name => (share.created_at.to_i  - share.updated_at.to_i)} %>
        <% end %>
      <% end %>

      <% shares %>
      <% amount1 = 0 %>
      <% amount2 = 0 %>
      <% shares.each do |share| %>
          <% amount1 += share[paid_winner.first] unless share[paid_winner.first].nil?  %>
          <% amount2 += share[unpaid_winner.first] unless share[unpaid_winner.first].nil?  %>
      <% end %>

    <% end %>

      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Click to see <%= @house.name %>'s 🐌 of the month <%= Date.today.prev_month.strftime("%B") %>
        </button>
      </p>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div class="text-danger">
            <% if amount1.nil? || amount2.nil? %>

              <% else %>
              <% if amount1. > amount2 %>
                <%= @winner = paid_winner.first.split(' ').first  %>
              <% else  %>
                <%= @winner = unpaid_winner.first.split(' ').first  %>
              <% end %>
            <% end %>
         </div>
          <p class="text-secondary">What the 🐌 has to do is...
            deep clean the kitchen one time in <%= Date.today.strftime("%B")%> </p>
        </div>
      </div>

  </div>
</div>

<div>

  <!-- Button to payments or display of no shares -->
<!-- mudar no codigo para dizer que o shares é desta casa -->

 <% if current_user.shares.where(bill: @house.bills) == [] %>
    <h6 class="notifications-title ml-5">Notifications</h6>
      <div class='notification-card'>
        <p class="mt-3 ml-2"> 😥 Your house has no bills yet. <br> Click on the plus button to start adding! 🎉</p>
      </div>
  <% else %>
    <%= form_tag house_payments_path(@house) do %>
    <div class="d-flex justify-content-between">
      <h6 class="notifications-title">Notifications</h6>
      <%= button_tag :submit, class: 'even-up-button' do %>
        Get even &nbsp; <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path fill="none" d="M0 0h24v24H0z"/><path d="M22 10v10a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V10h20zm0-2H2V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v4zm-7 8v2h4v-2h-4z" fill="rgba(255,243,236,1)"/></svg>
      <% end  %>
    </div>
    <% end %>

  <% end %>

  <!-- List of all Shares of the current user -->
  <% @shares.each do |share| %>
    <% if share.bill.house == @house %>
      <% if share.paid != true %>
          <div class='notification-card'>
            <p class="due-date"> <%= share.bill.formated_due_date %></p>
            <div class="notification-row">
                <h4><%= link_to share.bill.name,  edit_house_bill_path(share.bill.house_id, share.bill_id) %></h4>
                <% if @icon_names.include?(share.bill.category)%>
                  <%= image_tag @icons_map[share.bill.category.to_sym], alt: "blue-logo", style: "width: 24px; margin-bottom: 0.8rem;" %>
                <% end %>
              <p class="share-amount"><%= humanized_money_with_symbol(share.amount) %></p>
            </div>
          </div>
      <% end %>
    <% end %>
  <% end %>

</div>

<div class="history">
<% @shares_all.each do |share| %>
  <% if share.bill.house == @house %>
    <% if share.paid %>
      <div class='notification-card'>
        <p class="text-muted mb-0"> <%= share.formated_paid_date %></p>
        <div class="notification-row">
            <h6>  <%= share.user.first_name %> has paid <br> <%= share.bill.name  %> </h6>
            <% if @icon_names.include?(share.bill.category)%>
              <%= image_tag @icons_map[share.bill.category.to_sym], alt: "blue-logo", style: "width: 24px; margin-bottom: 0.8rem;" %>
            <% end %>
          <p class="share-amount">+<%= humanized_money_with_symbol(share.amount, :symbol_position => :after) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>

<div class="my-5 py-5"></div>



<script>
  setTimeout(function(){
   window.location.reload(1);
}, 15000);
  console.log("hello")
</script>
