
<h1>Edit House page</h1>
<%= simple_form_for(@house) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>

  <h6>House Members</h6>
  <ul>
    <% @house.users.each do |user| %>
    <li><%= user.name %></li>
    <% end %>
  </ul>

  <%= link_to "Go back", settings_house_path(@house), class: "btn btn-info btn-sm"  %>
  <%= f.submit "Save", class: "btn btn-primary btn-sm" %>

<% end %>



