<%= link_to "Log out", destroy_user_session_path, method: :delete %>

<h1>Edit House page</h1>

<%= simple_form_for(@house) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :house_balance %>
  <%= f.submit "Edit", class: "btn btn-primary" %>
<% end %>

<%= link_to "Go back", house_path(@house) %>
