<div class="booking-container p-3 mx-auto mt-5">

  <%= simple_form_for [@house, @bill] do |f| %>

      <div class="">
        <div >
        <%= f.input :name %>
        </div>
        <div>
        <%= f.input :due_date, html5:true %>
        </div>
        <div>
        <%= f.input :category %>
        </div>
         <div>
        <%= f.input :amount %>
        </div>
        <div>
          <% @house.memberships.each do | membership | %>
          <div class="d-flex"> <%= membership.user.name %> <input class="form-control numeric integer optional" type="number" name="share[<%=membership.user.id%>]" value="<%= @bill.get_share_amount_by_user(membership.user) %>"> </div>
          <% end %>
        </div>

        <%= f.submit "Add", class: "btn btn-primary"%>
      </div>

    <% end%>
</div>

<div>
  <%= link_to "🗑",
  bill_path(@bill),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
</div>

<%= link_to "Back", house_path(@bill.house) %>

