<h3 class="house-name">Add a Bill</h3>
  <div class="bill-container">
    <%= simple_form_for [@house, @bill] do |f| %>
        <%= f.label :category %>
        <div class="category-icons">
          <span id='rent'><%= image_tag('rent.svg') %></span>
          <span id="gas"><%= image_tag('gas.svg') %></span>
          <span id="electricity"><%= image_tag('electricity.svg') %></span>
          <span id="internet"><%= image_tag('internet.svg') %></span>
          <span id="water"><%= image_tag('water.svg') %></span>
        </div>

        <%= f.hidden_field :category, collection: ['rent', 'gas', 'electricity', 'internet', 'water'] %>

        <div class="d-flex">
          <%= f.input :name, input_html: { maxlength: 15 } %>
          <%= f.input :due_date, html5:true %>
        </div>

          <%= f.label :amount %>
        <div class="d-flex">
          <%= f.input_field :amount, class: "form-control", value: "" %>
          <span id="splitEvenButton" class="split-even-btn" data-memberships="<%= @house.memberships.count %>">
            Evenly
          </span>
        </div>

    <div class="mb-5 pb-5"></div>
  </div>
