 <div class="col-xs-12 col-sm-6">
  <div class="text-center">
    <%= simple_form_for [@house, @bill] do |f| %>

      <div class="">
        <div >
        <%= f.input :name %>
        </div>

        <div>
        <%= f.input :due_date, html5:true %>
        </div>

        <div>
        <%= f.input :category, collection: ['rent', 'gas', 'electricity', 'internet', 'water'] %>
        </div>

        <div>
        <%= f.input :amount %>
        </div>

        <div>
          <% @house.memberships.each do | membership | %>
          <div class="d-flex"> <%= membership.user.name %> <input class="form-control numeric integer optional membership-bill-value" type="number" name="share[<%=membership.user.id%>]">
          </div>
          <% end %>
        </div>

        <span id="splitEvenButton" class="btn btn-secondary" data-memberships="<%= @house.memberships.count %>">
          Split Even
        </span>

        <%= f.submit "Save Bill", class: "btn btn-primary"%>

      </div>
    <% end%>

  </div>
</div>
