 <div class="col-xs-12 col-sm-6">
  <div class="text-center">
    <%= simple_form_for [@house, @bill] do |f| %>

      <div class="">
        <div >
        <%= f.input :name %>
        </div>
        <div>
        <%= f.input :due_date, html5:true %>
        </div>
        <div>
        <%= f.input :category, collection: ['rent', 'gas', 'electricity', 'internet', 'water'] %>
        </div>
         <div>
        <%= f.input :amount %>
        </div>
        <div>
          <% @house.memberships.each do | membership | %>
          <div class="d-flex"> <%= membership.user.name %> <input class="form-control numeric integer optional" type="number" name="share[<%=membership.user.id%>]"> </div>
          <% end %>
        </div>

        <%= f.submit "Add", class: "btn btn-primary"%>
      </div>

    <% end%>

  </div>
</div>


<!--   create_table "bills", force: :cascade do |t|
    t.bigint "house_id", null: false
    t.integer "amount"
    t.date "due_date" x
    t.string "name" x
    t.string "category"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["house_id"], name: "index_bills_on_house_id"
 -->
